%% -*- erlang -*-
{erl_opts,
 [
  warnings_as_errors,
  debug_info,
  {parse_transform, lager_transform}
 ]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{deps,
 [
  lager,
  {ranch, [], {git, "git@github.com:heroku/ranch.git", {branch, "sni"}}},
  {bitcask, [], {git, "git@github.com:basho/bitcask.git", {branch, "develop"}}},
  {pallet, [], {git, "git@github.com:heroku/pallet.git", {branch, "master"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            {cth_readable,
             {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
        ]}
    ]},
    {demo, [{src_dirs, ["src", "demo"]}]}
]}.

{overrides, [
            {override, bitcask,
             [
             {erl_opts,
              [warnings_as_errors,
               debug_info,
               {platform_define, "^[0-9]+", namespaced_types},
               {parse_transform, lager_transform}
              ]},

             {deps, [lager]},
             {plugins, [pc]},

             {artifacts, ["priv/bitcask.so"]},

             {provider_hooks, [
                              {post, [
                                     {compile, {pc, compile}},
                                     {clean, {pc, clean}}
                                     ]
                              }]}
             ]}]
}.
