%% -*- erlang -*-
{erl_opts,
 [
  warnings_as_errors,
  debug_info,
  {parse_transform, lager_transform}
 ]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{deps,
 [
  lager,
  {ranch, [], {git, "https://github.com/heroku/ranch.git", {branch, "sni"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            {cth_readable,
             {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
        ]}
    ]},
    {demo, [{src_dirs, ["src", "demo"]}]}
]}.
