%% -*- erlang -*-
{erl_opts,
 [
  warnings_as_errors,
  debug_info,
  {parse_transform, lager_transform}
 ]}.

{deps,
 [
  lager,
  {ranch, [], {git, "git@github.com:heroku/ranch.git", {branch, "sni"}}},
  {fernet, [], {git, "git@github.com:bigkevmcd/erlfernet.git", {branch, "master"}}},
  {bitcask, [], {git, "git@github.com:basho/bitcask.git", {branch, "develop"}}}
]}.

{profiles, [{test, [{deps, [meck]}]}]}.

{overrides, [
            {override, bitcask,
             [
             {erl_opts,
              [warnings_as_errors,
               debug_info,
               {platform_define, "^[0-9]+", namespaced_types},
               {parse_transform, lager_transform}
              ]},

             {deps, [lager]},
             {plugins, [pc]},

             {artifacts, ["priv/bitcask.so"]},

             {provider_hooks, [
                              {post, [
                                     {compile, {pc, compile}},
                                     {clean, {pc, clean}}
                                     ]
                              }]}
             ]}]
}.
